*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.col{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
}

.splide {
    box-sizing: border-box;
    height: 100%;
}

.splide__slide img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.banner {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    height: 300px;
    max-width: 1080px;
    margin: 100px auto 0;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      
}

.login-form{
    background-color: white;
    border-radius: 25px;
    padding: 16px;
    min-height: min-content;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.login-form h3{
    color: grey;
    padding-bottom: 6px;
}

.login-form h5{
    padding-bottom: 8px;
}

.login-form a{
    padding-top: 8px;
}

.logo-index{
    padding-bottom: 25px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-field{
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: start;
    background-color: grey;
    align-items: center;
}

.login-field select{
    background-color: grey;
    border: 0;
    outline: 0;
}

.login-field input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: grey;
}

.login-field input:hover {
    width: 80%;
    border: 0;
    outline: 0;
    background-color: white;
}

.login-btn{
    padding: 4px;
    width: 100%;
    background-color: whitesmoke;
}

nav {
    background-color: #ee9a00;
    padding: 10px 0;
    box-shadow: 0 0 #0000,0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navbar {
    height: fit-content;
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.navbar-top div{
    padding-left: 4px;
    padding-right: 4px;
}

.search-bar{
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    width: 100vw;
    border-radius: 4px;
    background-color: white;
    height: fit-content;
}

.search-input{
    width: max-content;
}

.search-field{
    border: 0;
    outline: 0;
}

.search-picture-icon{
    margin-left: 4px;
}

.search-icon{
    margin-right: 4px;
}

.navbar-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 8px;
}

.shop-profile{
    display: flex;
    flex-direction: row;
    width: 80%;
}


.shop-profile-picture{
    margin-right: 8px;   
}

.shop-profile-pict{
    border-radius: 30px;
    outline: 6px;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
}

.ratings{
    background-color: #D3D3D3;
    border-radius: 4px;
    width: fit-content;
    padding: 6px;
    height: 24px;
    display: flex;
    flex-direction: row;
}

.ratings-icon{
    margin-right: 4px;
}

.for-you {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 1080px;
    margin: 100px auto 0;
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 6px 32px -11px rgba(0,0,0,0.21);
    border-radius: 5px;
}
.grid-item:hover {
    cursor: pointer;
}
.grid-item > img {
    height: 250px;
    width: 100%;
}

.grid-item > .description > .title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item > .description > .price {
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-item > .description > .sold-out {
    margin-top: 4px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-product{
    position: relative;
    left: 10%;
    margin-top: 3vh;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    padding: 12px;
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    justify-content: center;
    align-items: start;
}

.image-holder{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

.detail-product > .price{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.detail-product > .description ul{
    margin-left: 10%;
}

.footer-product {
    padding: 12px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #F8D699;
    color: white;
    text-align: center;
}

.product-action{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50vw;
}

.product-action > .chat > button,.product-action > .cart > button{
    background-color: transparent;
    border: 0;
    outline: 0;
}

.vl {
    border-left: 3px solid white;
    height: 50px;
    position: relative;
    margin-left: -3px;
    top: 0;
}

.vl1 {
    border-right: 3px solid white;
    height: 50px;
    position: relative;
    margin-right: -3px;
    top: 0;
}

.product-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.product-buy h2{
    font-size: 48px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.product-action > .chat,.product-action > .cart{
    width: 100%;
}

.product-action > .chat:hover,.product-action > .cart:hover, .product-buy:hover {
    cursor: pointer;
}

.checkout-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.checkout-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.item-desc{
    outline: 1px;
    outline-style: solid;
    margin-top: 20px;
    margin-left: 20px;
    padding: 12px;
    margin-right: 20px;
}

.checkout-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
}

.checkout-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 12px;
}

.quantity{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.quantity button{
    background-color: transparent;
    outline: 0;
    border: 0;
}

.quantity button:hover{
    cursor: pointer;
}

.quantity-field{
    width: 40px;
    text-align: center;
}

.checkout-bottom > .price , .shipping-fee > .price, .order-total > .price{
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.order-total, .shipping-fee{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    width: 50%;
    position: relative;
    left: 24vw;
    justify-content: space-between;
}

.checkout-button{
    margin-top: 12px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-button button{
    height: 50px;
    text-align: center;
    width: 150px;
}

.payment-method{
    display: flex;
    flex-direction: column;
}

.bank, .cod{
    margin: 12px;
}

.bank:hover, .cod:hover{
    cursor: pointer;
}